.auth {
  min-height: 100vh;
  align-items: center;
  justify-items: center;

  &-header {
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;

    &-cont {
      min-height: 100vh;
    }
  }
  &-form {
    max-width: 600px;
    margin: 1rem auto;
  }
}

.auth-header-icon {
  margin-bottom: 10px;
  margin-right: 2rem;
  font-size: 3rem;
}
