@mixin defaul-shadow {
    -webkit-box-shadow: 0px 10px 13px -7px #847e7e, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #847e7e, 5px 5px 15px 5px rgba(0,0,0,0);
  }
.dashboard {
    position: relative;
    display: flex;
    font-family: 'Mulish', sans-serif;
}

.dash{
    &-content{
        margin: 3rem;
        border-radius: 1rem;
        z-index: 10;
       @include defaul-shadow;
       position: relative
    }

    &-nav-title {
        font-weight: 800;
    }

    &-nav-header {
        padding-top: 1rem;
    }

    &-date {
        font-size: .8rem;
        color: lightslategray;
    }

    &-link {
        font-size: 1.4rem;
        padding: .5rem 1rem;
        text-decoration: none;
        color: black;

        &:hover {
            color: lightslategray;
        }
        
    }

    &-ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-user {
        display: flex;
        align-items: center;
        font-weight: 700;

        &-name {
            margin: 0;
        }

        &-icon {
            padding: .5rem .8rem;
            font-size: .8rem;
            border-radius: 5rem;
            background: lightcoral;
            margin: 0 1rem;
        }
    }
}

.bd-rt {
    border-right: 1px solid black;
}

.noti {
    position: relative;
    &-ink {
        position: absolute;
        top: 12px;
        left: 32px;
        content: "";
        width: 10px;
        height: 10px;
        background-color: lightcoral;
        border-radius: 220px;
    }
}
